<div class="elem">
    <div class="elem_title">Elem Title</div>
    <div class="elem_pic">
        <picture>
            <source srcset="/assets/images/code.webp" type="image/webp">
            <source srcset="/assets/images/code.jpg" type="image/jpeg">
                <img class="jslghtbx-thmb" src="/assets/images/code.jpg" alt="" data-jslghtbx>
        </picture>
    </div>
    <div class="elem_text">
        <h2>Some cool Element Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit urna class fusce aptent accumsan, dictumst hendrerit laoreet eleifend ullamcorper sollicitudin ad tellus justo natoque pellentesque. Leo urna tempor nisl at ullamcorper eros phasellus maecenas libero sollicitudin, dui aliquam curae morbi a non mollis ornare blandit quisque sociis, pulvinar congue facilisi mattis scelerisque nisi fringilla vitae class. Penatibus feugiat sociosqu nulla convallis molestie volutpat cursus libero et, elementum curabitur cras torquent rutrum conubia aenean fusce senectus, quisque vehicula nostra euismod inceptos egestas vel curae.</p>
        <p>Velit mollis fusce dis mattis odio dapibus risus neque netus sem, rhoncus penatibus lectus quam inceptos tortor fringilla sodales vivamus. Conubia purus morbi sem himenaeos interdum et tortor etiam sollicitudin rutrum placerat nec aliquet felis fusce, augue ligula lobortis fermentum convallis turpis ultricies suscipit facilisis arcu porta imperdiet torquent platea. Scelerisque aenean mi volutpat sed donec varius sollicitudin magna fames cursus luctus mauris nisi, rhoncus himenaeos faucibus laoreet semper a lacinia sem vivamus nam natoque.</p>
    </div>
</div>
