<div class="elem">
<div class="elem_title">A Form</div>
<div class="elem_text">
    <form method="post" enctype="application/x-www-form-urlencoded" (ngSubmit)="onSubmit(model)">
        <fieldset>
            <label for="email">E-Mail: <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email"></label>
            <label for="name">Name: <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"></label>
            <label for="address">Address: <input type="text" class="form-control" id="address" required [(ngModel)]="model.address" name="address"></label>
            <label for="comment">Comment: <textarea class="form-control" id="comment" [(ngModel)]="model.comment" name="comment"></textarea></label>
            <button type="submit" class="btn btn-default">Submit</button>
        </fieldset>
    </form>
    <div id="submit_done">
        <h2>Thank you!</h2>
        <p>Your Data has been processed.</p>
    </div>
</div>
</div>
